/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 238, 238);
}

/* PersonComponent.css */
.person-card {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person-card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.person-card h1 {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.person-card p {
  margin-bottom: 16px;
}

.person-card p:last-child {
  margin-bottom: 0;
}

/* ButtonComponent.css */
.button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #45a049;
}
